/* Add your CSS code below */
a {
  text-decoration: none;
  font-weight: bold;
  color: red;
}
.messages {
  font-size: 0.9rem;
}
.message--unread {
  border-left: 2px solid blue;
}
.message:first-child {
  opacity: 0.5;
}
.message__content {
  line-height: 40px;
}
